.button {
  position: relative;

  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;

  font-weight: 500;
  cursor: pointer;

  box-sizing: border-box;
  padding: 0px 24px;

  border: none;
  border-radius: 20px;

  height: 40px;
  transition: .2s;

  background-color: $primary;
  color: $on-primary;
  box-shadow: $elevation-level-0;

  // change this?
  .icon {
    padding-left: 8px;
    padding-right: 16px;
  }

  .state-layer {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    border: none;
    border-radius: inherit;

    background-color: transparent;
  }

  &.button-elevated {
    $background-color: $surface-container-low;
    $color: $primary;
    $state-layer-color: $primary;
    $elevation: $elevation-level-1;
    $hover-elevation: $elevation-level-2;
    $active-elevation: $elevation-level-1;

    background-color: $background;
    color: $color;
    box-shadow: $elevation;


    &:hover {
      box-shadow: $hover-elevation;

      .state-layer {
        background-color: tint($state-layer-color, $hover-opacity);
      }
    }

    &:active {
      box-shadow: $active-elevation;

      .state-layer {
        background-color: tint($state-layer-color, $active-opacity);
      }
    }
  }

  &.button-filled {
    $background-color: $primary;
    $color: $on-primary;
    $state-layer-color: $on-primary;
    $elevation: $elevation-level-0;
    $hover-elevation: $elevation-level-1;
    $active-elevation: $elevation-level-0;

    background-color: $primary;
    color: $on-primary;

    &:hover {
      box-shadow: $hover-elevation;

      .state-layer {
        background-color: tint($state-layer-color, $hover-opacity);
      }
    }

    &:active {
      box-shadow: $active-elevation;

      .state-layer {
        background-color: tint($state-layer-color, $active-opacity);
      }
    }
  }

  &.button-tonal {
    $background-color: $secondary-container;
    $color: $on-secondary-container;
    $state-layer-color: $on-secondary-container;
    $elevation: $elevation-level-0;
    $hover-elevation: $elevation-level-1;
    $active-elevation: $elevation-level-0;

    background-color: $secondary-container;
    color: $on-secondary-container;

    &:hover {
      box-shadow: $hover-elevation;

      .state-layer {
        background-color: tint($state-layer-color, $hover-opacity);
      }
    }

    &:active {
      box-shadow: $active-elevation;

      .state-layer {
        background-color: tint($state-layer-color, $active-opacity);
      }
    }
  }

  &.button-outlined {
    $background-color: $clear;
    $outline-color: $outline;
    $color: $primary;
    $state-layer-color: $primary;
    $elevation: $elevation-level-0;
    $hover-elevation: $elevation-level-0;
    $active-elevation: $elevation-level-0;

    color: $color;
    background-color: $background-color;

    // figure out border
    border: 2px solid $outline-color;

    &:hover {
      box-shadow: $hover-elevation;

      .state-layer {
        background-color: tint($state-layer-color, $hover-opacity);
      }
    }

    &:active {
      box-shadow: $active-elevation;

      .state-layer {
        background-color: tint($state-layer-color, $active-opacity);
      }
    }
  }

  &.button-text {
    $background-color: $clear;
    $color: $primary;
    $state-layer-color: $primary;
    $elevation: $elevation-level-0;
    $hover-elevation: $elevation-level-0;
    $active-elevation: $elevation-level-0;

    color: $color;
    background-color: $background-color;

    &:hover {
      box-shadow: $hover-elevation;

      .state-layer {
        background-color: tint($state-layer-color, $hover-opacity);
      }
    }

    &:active {
      box-shadow: $active-elevation;

      .state-layer {
        background-color: tint($state-layer-color, $active-opacity);
      }
    }
  }

  &.disabled {
    pointer-events: none;
    color: tint($on-surface, .38);
    background-color: tint($on-surface, $active-opacity);
    box-shadow: $elevation-level-0;
  }
}

.icon-button {
  position: relative;
  font-weight: 500;
  cursor: pointer;

  box-sizing: border-box;
  padding: 12px 12px;
  // margin-right: 16px;

  border: none;
  border-radius: 24px;

  height: 48px;
  width: 48px;
  transition: .2s;

  display: flex;
  align-items: center;

  $background-color: $clear;
  $color: $primary;
  $state-layer-color: $primary;
  $elevation: $elevation-level-0;
  $hover-elevation: $elevation-level-0;
  $active-elevation: $elevation-level-0;

  color: $color;
  background-color: $background-color;
  box-shadow: $elevation;

  .state-layer {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    border: none;
    border-radius: inherit;

    background-color: $background-color;
  }

  &:hover {
    .state-layer {
      background-color: tint($state-layer-color, $hover-opacity);
    }
  }

  &:active {
    .state-layer {
      background-color: tint($state-layer-color, $active-opacity);
    }
  }

  &.disabled {
    pointer-events: none;
    color: tint($on-surface, .38);
    background-color: tint($on-surface, $active-opacity);
    box-shadow: $elevation-level-0;
  }
}
