.modal-container {
  // color: $on-surface;
  background: transparent;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 4px));
  visibility: hidden;
  transition:
    visibility,
    transform 200ms ease-in;

  z-index: 1001;

  &.sm {
    width: 30%;
  }

  &.md {
    width: 50%;
  }

  &.lg {
    width: 80%;
  }

  .modal-inner {
    position: relative;

    color: $on-surface;
    background: $surface-container-high;

    height: 100%;
    width: 100%;

    padding: 24px 30px;
    border-radius: 28px;

    transition:
      height,
      width 200ms ease-in;

    box-shadow: $elevation-level-2;

    z-index: 1002;

    .modal-header {
      display: inline-flex;
      width: 100%;
      height: 40px;
      align-items: top;

      margin-bottom: 16px;
    }

    .modal-content {
      margin-bottom: 24px;
    }

    .modal-footer {
      display: flex;

      flex-direction: column;
      flex: 1 1 auto;
      justify-content: flex-end;

      .button-container {
        display: flex;

        flex: 1 1 auto;
        justify-content: flex-end;
      }
    }
  }

  &.open {
    transform: translate(-50%, -50%);
    visibility: visible;
  }
}
