.material-symbols-outlined {
  font-variation-settings: 'wght' 400, 'opsz' 24;
  transition: font-variation-settings 200ms cubic-bezier(0.2, 0, 0, 1);

  &.primary {
    color: $primary;
  }

  &.on-primary-container {
    color: $on-primary-container;
  }

  &.on-surface-variant {
    color: $on-surface-variant;
  }
}
